version: 2
jobs:
  build:
    docker:
      - image: ubuntu:xenial
    steps:
      - checkout
      - run:
          name: Tell me about your CPUs
          command: cat /proc/cpuinfo
      - run:
          name: Ubuntu packages
          command: apt update && apt install -y liblz4-dev libyaml-cpp-dev libboost-dev libjsoncpp-dev python-numpy libfftw3-dev libhdf5-serial-dev libzmq3-dev python-pip git g++ make wget tar libcurl4-openssl-dev libjsoncpp-dev pkg-config
      - run:
          name: Pip packages
          command: pip2 install cpp-coveralls Cython pyzmq msgpack-python
      - run:
          name: msgpack
          command: |
            pwd
            wget https://github.com/msgpack/msgpack-c/releases/download/cpp-2.1.0/msgpack-2.1.0.tar.gz
            tar xzf msgpack-2.1.0.tar.gz
      - run:
          name: ch_frb_io
          command: |
            export LIBDIR=~/chime/lib
            export INCDIR=~/chime/include
            export BINDIR=~/chime/bin
            export HAVE_PSRFITS=n
            export HAVE_CH_FRB_IO=y
            export HAVE_BONSAI=y
            export PYDIR=~/chime/lib/python2.7/site-packages
            export PYTHON_INCDIR=/usr/include/python2.7
            export NUMPY_INCDIR=$(python -c "import numpy; print(numpy.get_include())")
            #export JSONCPP_INC_DIR=/usr/include/jsoncpp
            export PYTHONPATH=${PYTHONPATH}:/usr/lib/python2.7/dist-packages
            #export HDF5_INC_DIR=/usr/include/hdf5/serial
            #export HDF5_LIB_DIR=/usr/lib/x86_64-linux-gnu/hdf5/serial
            export MSGPACK_CFLAGS=-I$(pwd)/msgpack-2.1.0/include
            pwd
            git clone https://github.com/CHIMEFRB/ch_frb_io.git
            cd ch_frb_io
            git checkout circleci
            ln -s site/Makefile.local.frb-compute-0 Makefile.local
            make
            make install
